nav.navbar, .navbar-default {
    background-color: #4DB6AC;
 }
  
  .navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
    padding-right: 10px;
 }
  
  .navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    color: white;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 20px;
  }
  
  .navbar-default .navbar-brand {
    padding-top: 18px;
    color: white;
    font-size: 20px;
    padding-left: 30px;
  }
  
  .navbar-default .navbar-toggle {
    border-color: white;
    
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    
  }
  
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
  }
  .navbar {
    margin: 0;
   
    
}

