.row {
    padding:  5px;
    margin: 0;
    padding-top: 40px;
}

.padding {
    padding-bottom: 20px;
    
}

.box {
    padding-bottom: 20px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
  }

  @media screen and (max-width:480px) {
    .box{
      width: 90%;
      padding-left:5px;  
      padding-right: 5px ;   
    }
  }
  
  @media screen and (max-width:480px) {
    .box h2{
      font-size: 1.6em;
    }
  }

  @media screen and (max-width:480px) {
    .box p{
      font-size: 1.3em;
    }
  }

  .box h2{
    padding-top: 30px;
  }

  h2{
    padding-top: 5px;
    text-align: center;
    font-family: cursive;
    font-weight: 400;
    color:#4A96AD;
  }

  p {
    
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    color: black;
  }


.align {
  width: 80%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;

}

.video-padding {
   padding: 20px;
}

@media screen and (max-width:480px) {
  .align{
    width: 100%;
    height: 100%;
    
  }
}

.videos {
  border: 0px;
}
